<!DOCTYPE html>
<html>
  <head>
    <title>Mural Reviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Fugaz+One|Monoton|Quicksand|Raleway" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  </head>

  <body>
    <div class="topnav" id="myTopnav">
      <div class="row medium-unstack">
        <div class="small-12 medium-6 columns menu">
          <% if user_signed_in? %>
          <%= link_to image_tag( current_user.profile_photo), edit_user_registration_path %>
          <%= link_to 'Home', root_path, class: "menuText" %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "menuText" %>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "menuText" %>
          <% if current_user.admin? %>
          <%= link_to 'Users Index', admin_users_path, class: "menuText" %>
          <% end %>

          <% else %>
          <%= link_to 'Home', root_path, class: "menuText" %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "menuText" %>
          <%= link_to 'Sign In', new_user_session_path, class: "menuText" %>
          <% end %>
        </div>
      </div>
    </div>
  <div class="mainheader">
    <div class="row">
      <div class="small-12 columns">
        <h1>Mural Reviews</h1>
      </div>
    </div>
  </div>

    <% flash.each do |key, value| %>
      <div class="flash">
        <%= value %>
      </div>
    <%end%>


    <%= yield %>

  </body>
</html>
